name: Master TradingView Scraper

on:
  workflow_dispatch:

jobs:
  run_s1:
    uses: ./.github/workflows/s1.yml
    with:
      SHARD_STEP: 20

  wait_before_next:
    name: Wait 10 minutes
    runs-on: ubuntu-latest
    needs: run_s1
    steps:
      - run: sleep 600

  run_s2:
    uses: ./.github/workflows/s2.yml
    needs: wait_before_next
    with:
      SHARD_STEP: 20

  run_s3:
    uses: ./.github/workflows/s3.yml
    needs: run_s2
    with:
      SHARD_STEP: 20

  run_s4:
    uses: ./.github/workflows/s4.yml
    needs: run_s3
    with:
      SHARD_STEP: 20
